{% load static %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-bg-dark bg-dark text-light">
        <div class="container-fluid">
            <a class="navbar-brand nav-link" href="#">KIPIKSHOP</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-light">

                    <li class="nav-item text-light">
                        <a class="nav-link" aria-current="page" href="#">Home</a>
                    </li>


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Categories
                        </a>
                        <ul class="dropdown-menu">
                            {% for product in products %}
                                <li><a class="dropdown-item text-dark" href="{% url 'details' product.slug %}">{{ product.name}}</a></li>
                            {% endfor %}
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link">Contact</a>
                    </li>
                </ul>
                <ul class="navbar-collapse">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                </ul>
                {% include 'include/searchbar.html' %}
            </div>
        </div>
    </nav>

{% endblock %}