{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1 class="text-center mb-3">Connectez-vous</h1>
    <div class="container-form">
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="username" class="mb-2">Nom d'utilisateur</label>
                <input type="text" class="form-control mb-3" id="username" name="username"
                       placeholder="Nom d'utilisateur">
                <label for="password" class="mb-2">Mot de passe</label>
                <input type="password" class="form-control mb-3" id="password" name="password"
                       placeholder="Mot de passe">

                <div class="box-button">
                    <button type="submit" class="btn btn-primary">Se connecter</button>
                    <p class="text-center">Vous n'avez pas de compte ?
                        <a href="{% url 'register' %}">Inscrivez-vous</a>
                    </p>
                </div>
            </div>
        </form>
    </div>

{% endblock %}