{% extends 'base.html' %}
{% load static %}

{% block content %}

    <h1 class="fw-light">Produits</h1>
    <div class="box-product">
        {% for product in products %}

                <div class="col" style="display: flex; margin: auto; justify-content: center;">
                    <div class="card shadow-sm">
                        <p class="text-center text-info">{{ product.marque_produit }}</p>
                        <img class="img-product" src="{{ product.image.url }}" alt="" style="width: 33%; margin: auto;">
                        <div class="card-body">
                            <h3 class="text-center">{{ product.name }}</h3>
                            {% comment %}
                        <p class="card-text">{{ product.description|safe }}</p>
                        {% endcomment %}
                            <p class="card-text text-danger">{{ product.ttc_price }} €</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-sm btn-outline-success">Ajouter</a>
                                    <a class="btn btn-sm btn-outline-info" href="{% url 'details' product.slug %}">Details</a>
                                </div>
                                <small class="text-warning">Il reste {{ product.stock }} exemplaires</small>
                            </div>
                        </div>
                    </div>
                </div>

        {% endfor %}
    </div>
    {% include 'include/pagination.html' %}

{% endblock %}